In [4]:
import numpy as np
import pandas as pd

In [7]:
#aggrigation
df1=pd.DataFrame({"Team" :["Riders","Riders","Devils","King","Royals"],
       "Rank" :["2nd","2nd","1st","3rd","4th"],
       "year" :[2014,2015,2015,2013,2012],
       "point":[879,876,673,899,740]})
print(df1)
#using group by command
df1.groupby('Team').groups
df1.groupby(['Team','year']).groups
grouped=df1.groupby('Team')
print(grouped['point'].agg(np.mean))
print(grouped.agg(np.size))
#     print(grouped['point'].agg([np.sum,np.mean,np.std]))

     Team Rank  year  point
0  Riders  2nd  2014    879
1  Riders  2nd  2015    876
2  Devils  1st  2015    673
3    King  3rd  2013    899
4  Royals  4th  2012    740
Team
Devils    673.0
King      899.0
Riders    877.5
Royals    740.0
Name: point, dtype: float64
        Rank  year  point
Team
Devils     1     1      1
King       1     1      1
Riders     2     2      2
Royals     1     1      1

In [11]:
# #transformation
# grouped = df1.groupby('Team')
# score = lambda x:(x-x.mean()/x.std*10)
# print(grouped.transform(score))

In [13]:
#filteration
print(df1.groupby('Team').filter(lambda x:len(x)>=3))

Empty DataFrame
Columns: [Team, Rank, year, point]
Index: []

In [21]:
# #merging and joining of data frames:-
# import numpy as np
# import pandas as pd

# left=pd.DataFrame({"id":[1,2,3,4,5],
#                   "name":["himanshu","priyanshu","shivanshu","divyanshu","sudhansu"],
#                   "suject_id":["s1","s2","s4","s6","s5"]})
# right=pd.DataFrame({"id":[1,2,3,4,50],
#                    "name":["kk","gk","pk","dk","hk"],
#                    "subject_id":["s2","s4","s3","s6","s5"]})
# print(pd.merge(left,right,on="id"))
# print(pd.merge(left,right,on=["id","subject_id"]))
# print(pd.merge(left,right,on="subject_id",how="left"))
# print(pd.merge(left,right,on="subject_id",how="right"))
# print(pd.merge(left,right,how='outer',on="subject_id"))#outer join
# print(pd.merge(left,right,how='inner',on="subject_id"))

In [27]:
#concatenation
print(pd.concat([left,right]))# vertical axis =0
print(pd.concat([left,right],keys=['x','y']))
print(pd.concat([left,right],keys=['x','y'],ignore_index=True))
print(pd.concat([left,right],axis=1))#giving error
print(left.append(right))
print(left.append([right,left,left,right]))

   id       name suject_id subject_id
0   1   himanshu        s1        NaN
1   2  priyanshu        s2        NaN
2   3  shivanshu        s4        NaN
3   4  divyanshu        s6        NaN
4   5   sudhansu        s5        NaN
0   1         kk       NaN         s2
1   2         gk       NaN         s4
2   3         pk       NaN         s3
3   4         dk       NaN         s6
4  50         hk       NaN         s5
     id       name suject_id subject_id
x 0   1   himanshu        s1        NaN
  1   2  priyanshu        s2        NaN
  2   3  shivanshu        s4        NaN
  3   4  divyanshu        s6        NaN
  4   5   sudhansu        s5        NaN
y 0   1         kk       NaN         s2
  1   2         gk       NaN         s4
  2   3         pk       NaN         s3
  3   4         dk       NaN         s6
  4  50         hk       NaN         s5
   id       name suject_id subject_id
0   1   himanshu        s1        NaN
1   2  priyanshu        s2        NaN
2   3  shivanshu        s4        NaN
3   4  divyanshu        s6        NaN
4   5   sudhansu        s5        NaN
5   1         kk       NaN         s2
6   2         gk       NaN         s4
7   3         pk       NaN         s3
8   4         dk       NaN         s6
9  50         hk       NaN         s5
   id       name suject_id  id name subject_id
0   1   himanshu        s1   1   kk         s2
1   2  priyanshu        s2   2   gk         s4
2   3  shivanshu        s4   3   pk         s3
3   4  divyanshu        s6   4   dk         s6
4   5   sudhansu        s5  50   hk         s5
   id       name suject_id subject_id
0   1   himanshu        s1        NaN
1   2  priyanshu        s2        NaN
2   3  shivanshu        s4        NaN
3   4  divyanshu        s6        NaN
4   5   sudhansu        s5        NaN
0   1         kk       NaN         s2
1   2         gk       NaN         s4
2   3         pk       NaN         s3
3   4         dk       NaN         s6
4  50         hk       NaN         s5
   id       name suject_id subject_id
0   1   himanshu        s1        NaN
1   2  priyanshu        s2        NaN
2   3  shivanshu        s4        NaN
3   4  divyanshu        s6        NaN
4   5   sudhansu        s5        NaN
0   1         kk       NaN         s2
1   2         gk       NaN         s4
2   3         pk       NaN         s3
3   4         dk       NaN         s6
4  50         hk       NaN         s5
0   1   himanshu        s1        NaN
1   2  priyanshu        s2        NaN
2   3  shivanshu        s4        NaN
3   4  divyanshu        s6        NaN
4   5   sudhansu        s5        NaN
0   1   himanshu        s1        NaN
1   2  priyanshu        s2        NaN
2   3  shivanshu        s4        NaN
3   4  divyanshu        s6        NaN
4   5   sudhansu        s5        NaN
0   1         kk       NaN         s2
1   2         gk       NaN         s4
2   3         pk       NaN         s3
3   4         dk       NaN         s6
4  50         hk       NaN         s5

C:\Users\hs864\AppData\Local\Temp\ipykernel_5988\3237102875.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(left.append(right))
C:\Users\hs864\AppData\Local\Temp\ipykernel_5988\3237102875.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(left.append([right,left,left,right]))

In [38]:
#using date and time function
#data selection with row or coloumn indices or cell values
print(pd.date_range('01/01/2011',periods=5))
print(pd.date_range('01/01/2011',periods=5,freq='m'))
print('Day & Time is:',pd.Timedelta('2days,2hours,15minutes,30seconds'))
print(pd.Timedelta(6,unit='h'))
print(pd.Timedelta(days=2))
s=pd.Series(pd.date_range('2012-1-1',periods=3,freq='D'))
td=pd.Series([pd.Timedelta(days=i) for i in range(3)])
df=pd.DataFrame(dict[a=s,b=td])
print(df)
df['c']=df['a']+df['b']
print(df)

SyntaxError: invalid syntax (3922251804.py, line 10)

In [39]:
#Slicing 
print(df1.head(5))
print(df1['Team'].head(5))
print(df1[['Team','Points']].head(5))

     Team Rank  year  point
0  Riders  2nd  2014    879
1  Riders  2nd  2015    876
2  Devils  1st  2015    673
3    King  3rd  2013    899
4  Royals  4th  2012    740
0    Riders
1    Riders
2    Devils
3      King
4    Royals
Name: Team, dtype: object

KeyError: "['Points'] not in index"