In [1]:
import pandas as pd

In [10]:
d={'Name':pd.Series(['kikky',' rahul',' aman']),
  'Age':pd.Series([25,26,27]),
  'Rating':pd.Series([1.5,5.6,4.3])}
df=pd.DataFrame(d)
print(df.sum(1))
print(df.sum(axis=0))

0    26.5
1    31.6
2    31.3
dtype: float64
Name      kikky rahul aman
Age                     78
Rating                11.4
dtype: object

C:\Users\hs864\AppData\Local\Temp\ipykernel_16024\2694951173.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.sum(1))

In [11]:
d={'Name':pd.Series(['kikky',' rahul','himanshu']),
  'Age':pd.Series([25,26,27]),
  'Rating':pd.Series([1.5,5.6,4.3])}
df=pd.DataFrame(d)
print(df.sum(1))
print(df.sum(axis=1))

0    26.5
1    31.6
2    31.3
dtype: float64
0    26.5
1    31.6
2    31.3
dtype: float64

C:\Users\hs864\AppData\Local\Temp\ipykernel_16024\1901818093.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.sum(1))
C:\Users\hs864\AppData\Local\Temp\ipykernel_16024\1901818093.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.sum(axis=1))

In [12]:
d={'Name':pd.Series(['kikky',' rahul',' himanshu']),
  'Age':pd.Series([25,26,27]),
  'Rating':pd.Series([1.5,5.6,4.3])}
df=pd.DataFrame(d)
print(df.mean(1))
print(df.sum(axis=0))

0    13.25
1    15.80
2    15.65
dtype: float64
Name      kikky rahul himanshu
Age                         78
Rating                    11.4
dtype: object

C:\Users\hs864\AppData\Local\Temp\ipykernel_16024\2290692853.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.mean(1))

In [13]:
d={'Name':pd.Series(['kikky','rahul','aman']),
  'Age':pd.Series([25,26,27]),
  'Rating':pd.Series([1.5,5.6,4.3])}
df=pd.DataFrame(d)
print(df.describe())

        Age    Rating
count   3.0  3.000000
mean   26.0  3.800000
std     1.0  2.095233
min    25.0  1.500000
25%    25.5  2.900000
50%    26.0  4.300000
75%    26.5  4.950000
max    27.0  5.600000

In [17]:
import numpy as np

In [29]:
d={
  'Age':pd.Series([25,26,27]),
  'Rating':pd.Series([1.5,5.6,4.3])}
df=pd.DataFrame(d)
print(df.apply(np.mean))

Age       26.0
Rating     3.8
dtype: float64

In [30]:
d={
  'Age':pd.Series([25,26,27]),
  'Rating':pd.Series([1.5,5.6,4.3])}
df=pd.DataFrame(d)
print(df.apply(np.mean,axis=1))

0    13.25
1    15.80
2    15.65
dtype: float64

In [3]:
import pandas as pd

In [4]:
#pipe method
d={
  'Age':pd.Series([25,26,27]),
  'Rating':pd.Series([1.5,5.6,4.3])}
df=pd.DataFrame(d)
def adder(ele1,ele2):
    return ele1 + ele2
print(df.pipe(adder,2))

   Age  Rating
0   27     3.5
1   28     7.6
2   29     6.3

In [6]:
import numpy as np

In [7]:
d={
  'Age':pd.Series([25,26,27]),
  'Rating':pd.Series([1.5,5.6,4.3])}
df=pd.DataFrame(d)
print(df.apply(np.mean))

Age       26.0
Rating     3.8
dtype: float64

In [8]:
d={
  'Age':pd.Series([25,26,27]),
  'Rating':pd.Series([1.5,5.6,4.3])}
df=pd.DataFrame(d)
print(df.apply(np.mean, axis=1))

0    13.25
1    15.80
2    15.65
dtype: float64

In [19]:
#map method will give vector to vector
d={
  'Age':pd.Series([25,26,27]),
  'Rating':pd.Series([1.5,5.6,4.3])}
df=pd.DataFrame(d)
df{'x'}.map(lambda x:x*100)
df.apply(lambda x:x.max()-X.min())

SyntaxError: invalid syntax (1916681801.py, line 6)

In [26]:
s=pd.Series([' Tom ','  William Rock  ','  John  '])
print(s)

print(s.str.lower())

print(s.str.len())

print(s.str.split('  '))

0                Tom
1      William Rock
2              John
dtype: object
0                tom
1      william rock
2              john
dtype: object
0     5
1    16
2     8
dtype: int64
0               [ Tom ]
1    [, William Rock, ]
2            [, John, ]
dtype: object

In [29]:
#one hot encoding
s=pd.Series(['Tom','William Rock','John'])
print(s.str.get_dummies())
print(s.str.contains(' '))
print(s.str.replace('o','#'))

   John  Tom  William Rock
0     0    1             0
1     0    0             1
2     1    0             0
0    False
1     True
2    False
dtype: bool
0             T#m
1    William R#ck
2            J#hn
dtype: object

In [31]:
#Iterating a Dataframe
df=pd.DataFrame({'A':[1,9,7],'B':[20,21,29],'C':[40,43,44]})
for pqr in df:
    print(pqr)
    
for key, value in df.iteritems():
    print(key,value)

A
B
C
A 0    1
1    9
2    7
Name: A, dtype: int64
B 0    20
1    21
2    29
Name: B, dtype: int64
C 0    40
1    43
2    44
Name: C, dtype: int64

In [33]:
df=pd.DataFrame({'A':[1,9,7],'B':[20,21,29],'C':[40,43,44]})
    
for row_index, row in df.iteritems():
    print(row_index,row)

A 0    1
1    9
2    7
Name: A, dtype: int64
B 0    20
1    21
2    29
Name: B, dtype: int64
C 0    40
1    43
2    44
Name: C, dtype: int64