In [1]:
import pandas as pd

print(pd.__version__)

1.4.2

In [8]:
#Exercise_1
#List_to_list series conversion

given_list = [2, 4, 5, 6, 9]

series = pd.Series(given_list)

print(series)

0    2
1    4
2    5
3    6
4    9
dtype: int64

In [9]:
#Exercise2 - List-to-Series Conversion with Custom Indexing
given_list = [2, 4, 5, 6, 9]

series = pd.Series(given_list, index = [1, 3, 5, 7, 9])

print(series)

1    2
3    4
5    5
7    6
9    9
dtype: int64

In [10]:
# EXERCISE 3 - Date Series Generation
date_series = pd.date_range(start = '05-01-2021', end = '05-12-2021')

print(date_series)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [11]:
# EXERCISE 4 - Implementing a function on each and every element of a series
series = pd.Series([2, 4, 6, 8, 10])
print(series) #pandas series initially
print()
modified_series = series.apply(lambda x:x/2)
print(modified_series)

0     2
1     4
2     6
3     8
4    10
dtype: int64

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [19]:
# EXERCISE 5 - Dictionary-to-Dataframe Conversion
dictionary = {'name': ['Himansu', 'Anjali', 'Anshu'],
              'age' : [25, 24, 2],
              'occ' : ['trader', 'laywer', 'accountant']}

dataframe = pd.DataFrame(dictionary)

print(dataframe)

      name  age         occ
0  Himansu   25      trader
1   Anjali   24      laywer
2    Anshu    2  accountant

In [20]:
# EXERCISE 6 - 2D List-to-Dataframe Conversion
lists = [[2, 'Vishal', 22],
         [1, 'Kushal', 25],
         [1, 'Aman', 24]]

dataframe = pd.DataFrame(lists, columns = ['id', 'name', 'age'])

print(dataframe)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

In [22]:
# EXERCISE 7 - Reading CSV to Dataframe

dataframe = pd.read_csv('data.csv')

print(dataframe)

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

In [23]:
# EXERCISE 8 - Setting Custom Index in Dataframe
print(dataframe) # original dataframe before custom indexing

print()

dataframe_customindex = dataframe.set_index('id') # custom indexed dataframe with column, 'id'

print(dataframe_customindex)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

      name  age
id
2   Vishal   22
1   Kushal   25
1     Aman   24

In [24]:
# EXERCISE 9 - Sorting a Dataframe by Index
print(dataframe) # original unsorted dataframe with custom indexing (id)

print()

dataframe_sorted = dataframe.sort_index()

print(dataframe_sorted)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

In [25]:
# EXERCISE 10 - Sorting a Dataframe by Multiple Columns
print(dataframe) # original dataframe

print()

dataframe_sorted = dataframe.sort_values(by = ['id', 'age']) # dataframe after sorting by 'id' and 'age'

print(dataframe_sorted)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

   id    name  age
2   1    Aman   24
1   1  Kushal   25
0   2  Vishal   22

In [26]:
# EXERCISE 11 - DataFrame with Custom Index to DataFrame with Dataframe with default indexes
print(dataframe_customindex) # printing the original dataframe with custom indexing

print()

dataframe = dataframe_customindex.reset_index()

print(dataframe) # printing the dataframe with default indexes

      name  age
id
2   Vishal   22
1   Kushal   25
1     Aman   24

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

In [27]:
# EXERCISE 12 - Indexing and Selecting Columns in a DataFrame
print(dataframe) # original dataframe

print()

o = dataframe['name'] # extracting the column 'name'

print(o)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

0    Vishal
1    Kushal
2      Aman
Name: name, dtype: object

In [28]:
# EXERCISE 13 - Indexing and Selecting Rows in a DataFrame
print(dataframe) # original dataframe

print()

o = dataframe.iloc[[0,1], :] # extracting the 1st 2 rows of the dataframe

print(o)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

   id    name  age
0   2  Vishal   22
1   1  Kushal   25

In [29]:
# EXERCISE 14 - Conditional Selection of Rows in a DataFrame
print(dataframe) # original dataframe

print()

# selecting people with age greater than or equal to 24

dataframe_condition = dataframe.loc[dataframe.age >= 24]

print(dataframe_condition)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

   id    name  age
1   1  Kushal   25
2   1    Aman   24

In [30]:
# EXERCISE 15 - Applying Aggregate Functions
print(dataframe) # original dataframe

print()

occ_average_age = dataframe.groupby('occ')['salary'].mean() # required dataframe

print(occ_average_age)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

KeyError: 'occ'

In [31]:
# EXERCISE 16 - Filling NaN Values in a DataFrame
print(dataframe) # original dataframe

print()

dataframe_nullfill = dataframe.fillna(0)

print(dataframe_nullfill) # dataframe after filling NaN values with 1

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

In [32]:
# EXERCISE 17 - Applying Functions (UDFs) on DataFrame
print(company_data) # original dataframe

print()

company_data['profit'] = company_data['profit'].apply(lambda x:x>0)

print(company_data) # required dataframe

NameError: name 'company_data' is not defined

In [33]:
# EXERCISE 18 - Joining 2 DataFrames by a Common Column (key)
print(emp_data) # 1st DataFrame containing employee id (eid), employee name (ename) and stipend

print()

print(company_data) # 2nd DataFrame containing employee id (eid) and designation of the employee (position)

print()

dataframe = pd.merge(emp_data, company_data, how = 'inner', on = 'eid') # required dataframe

print(dataframe)

NameError: name 'emp_data' is not defined

In [34]:
# EXERCISE 19 - Getting the Non-Null Count and Data Type for Every Column
print(dataframe) # the dataframe

print()

print(dataframe.info())

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   name    3 non-null      object
 2   age     3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes
None

In [35]:
# EXERCISE 20 - Getting the Statistical Summary of all the Numerical Features of a DataFrame
print(dataframe) # the dataframe

print()

print(dataframe.describe())

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

             id        age
count  3.000000   3.000000
mean   1.333333  23.666667
std    0.577350   1.527525
min    1.000000  22.000000
25%    1.000000  23.000000
50%    1.000000  24.000000
75%    1.500000  24.500000
max    2.000000  25.000000